<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Backbone articles</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <nav id="nav" class="navbar navbar-default navbar-static-top"></nav>
    <div id="container" class="container"></div>

    <script type="text/template" id="nav-template">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand home-link" href="/">Backbone articles</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/" class="home-link">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if (username) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/manage" class="manage-link">Manage articles</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout" class="logout-link">Logout</a></li>
                            </ul>
                        </li>
                    <% } else { %>
                        <li><a href="/login" class="login-link">Login</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </script>

    <script type="text/template" id="index-template">
        <div class="row">
            <% _.each(articles, function(article) { %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="article-block">
                        <div class="article-title bg-success">
                            <p class="title">
                                <a href="/article/<%= article.get('id') %>" class="article-link">
                                    <%= article.get('title') %>
                                </a>
                            </p>
                        </div>
                        <div class="article-description">
                            <p class="description"><%= article.get('description') %></p>
                        </div>
                        <div class="article-controls">
                            <div class="count">0</div>
                            <button type="button" class="btn btn-default favorite">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </script>

    <script type="text/template" id="login-template">
        <div class="row">
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="form-control" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" placeholder="Password" />
                </div>
                <button type="button" class="btn btn-default login">Login</button>
            </form>
        </div>
    </script>

    <script type="text/template" id="article-template">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1><%= title %></h1>
                <blockquote><p><%= description %></p></blockquote>
                <%= content %>
            </div>
        </div>
    </script>

    <script type="text/template" id="manage-template">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <a href="/manage/new" class="btn btn-success new-link">Add article</a>
                <hr />
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Title</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% _.each(articles, function(article) { %>
                            <tr>
                                <td><%= article.get('id') %></td>
                                <td><%= article.get('title') %></td>
                                <td><a href="/manage/edit/<%= article.get('id') %>"
                                       class="btn btn-info edit-link">Edit</a>
                                </td>
                                <td><a href="/manage/delete/<%= article.get('id') %>"
                                       class="btn btn-danger delete-link">Delete</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script type="text/template" id="manage-save-template">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" class="form-control" value="<%= title %>" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" class="form-control" value="<%= description %>" />
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea id="content" class="form-control" rows="5"><%= content %></textarea>
                    </div>
                    <button type="button" class="btn btn-success save">Save</button>
                </form>
            </div>
        </div>
    </script>

    <script type="text/template" id="manage-delete-template">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>Are you sure that you want to delete article: "<%= title %>"</p>
                <form>
                    <button type="button" class="btn btn-danger delete">Yes</button>
                    <button type="button" class="btn btn-success cancel">No</button>
                </form>
            </div>
        </div>
    </script>

    <script type="text/template" id="error-template">
        <div class="row error-container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-danger"><%= error %></div>
            </div>
        </div>
    </script>

    <script data-main="app/main" src="app/vendor/require.js"></script>
</body>
</html>
